<div *ngIf="client">
  <h2 class="setMargins">Client {{client.name}} details</h2>
  <div>
    <label class="badge badge-pill badge-secondary setMargins"> Name</label>
    <span class="setMargins"> {{client.name}} </span>
    <input [(ngModel)]="client.name" placeholder="name...">
  </div>
  <div>
    <label class="badge badge-pill badge-secondary setMargins"> Date of birth</label>
    <span class="setMargins"> {{client.dateOfBirth}} </span>
    <input [(ngModel)]="client.dateOfBirth" placeholder="date...">
  </div>
  <button (click)="goBack()" class="btn btn-dark setMargins">Back</button>
  <button (click)="save()" class="btn btn-dark setMargins">Save</button>
</div>
<div>
  <h2>Rent Gun Type</h2>
  <label class="badge badge-pill badge-secondary setMargins">Name<input #nameInput required class="setMargins"></label><br>
  <label class="badge badge-pill badge-secondary setMargins">Price<input #priceInput required class="setMargins"></label><br>
  <button (click)="saveGunType(nameInput.value, toNumber(priceInput.value))"
          class="setMargins btn btn-dark"
  >Save</button>
</div>
<div>
  <h2>Rented Gun Types</h2>
  <ol class="list-group">
    <li *ngFor="let gunType of gunTypes"
        class="list-group-item list-group-item-dark">
      {{gunType.name}}
    </li>
  </ol>
</div>
